<div class="header">
  <h1>FarmMetrics</h1>
  <img src="http://demo.mapofagriculture.com/AgIcons/20151013/AgFarmMetrics_L.svg" alt="Description"/>
  <p>Logged in as: {{userInfo.userName}}</p>
  <p>{{vm.msg}}</p>
  <h1 class="ms-font-xxl">Reports</h1>
<span ng-hide="vm.reports.length > 0">
	loading
</span>
  <div>
    <ul class="ms-List">
      <div class="ms-List-item is-selectable" ng-repeat="report in vm.reports track by report.id" ng-click="vm.insertReport(report)">
        <span class="ms-ListItem-primaryText">{{report.name}}</span>
      </div>
    </ul>
  </div>

  <iframe src="" id="embedIframe" width="1600" height="900" frameborder="0"></iframe>
</div>



